@import "createInvoice.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: lightsalmon;
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.outside-box {
    display: flex;
    justify-content: flex-start;
    padding: 25px;
    height: 700px;
    margin: 100px;
}

.side-bar {
    background: white;
    width: 20%;
    height: 100%;
    border-right: 1px solid rgb(239, 243, 250); 
    box-shadow: #5750d8 5px 5px;
}

.side-bar :nth-child(1) {
    margin-top: 15px;
}

.side-bar > div {
    font-size: 17px;
    text-align: center;
    padding: 5%;
    background-color: white;
    border-left: 4px solid white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.side-bar > div:hover {
    background-color: rgb(249, 251, 255);
    cursor: pointer;
}

.side-bar > div.active {
    background-color: rgb(249, 251, 255);
    color: rgb(81, 77, 210);
    border-left: 4px solid rgb(86, 85, 208);
}

.side-bar > div > svg {
    fill: rgb(166, 172, 191);
}

.side-bar > div.active > svg {
    fill: rgb(81, 77, 210);
}

.content {
    overflow: auto;
    background-color: rgb(249, 251, 255);
    width: 70%;
    padding: 2%;
    overflow: scroll;
    box-shadow: #5750d8 5px 5px;
}

.top-panel {
    display: flex;
    justify-content: space-between;  
}

#button {
    color: white;
    background-color: rgb(86, 85, 208);
    padding: 1% 1% 1% 1%;
    border-radius: 5px;
    border: none;
    /* width: 10em; */
    min-width: 150px;
    min-height: 37px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

#button:hover{
    cursor: pointer;
}

table {
    margin-top: 20px;
    width: 100%;
    border-spacing: 0 13px;
}

th {
    text-align: left;
    padding: 8px;
}

td {
    background-color: white;
    padding: 8px;
    height: 70px;
    font-weight: 100;
}

mark {
    background-color: rgb(246, 237, 207);
    padding: 3px 10px;
    color: rgb(178, 156, 135)
}

mark.paid {
    background-color: rgb(228, 248, 250);
    padding: 3px 10px;
    color: rgb(174, 154, 159);
}

#load-img{
    position: absolute;
    top:50%;
    left: 50%;
}

