
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(229, 229, 229);
    position: relative;
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.outside-box {
    display: flex;
    justify-content: flex-start;
    /* padding: 25px; */
    height: 700px;
    margin: 25px auto;
    width: 1140px;
}

@media only screen and (max-width: 600px) {
    .outside-box {
        margin: 0;
    }
}

a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

.side-bar {
    background: white;
    width: 30%;
    height: 100%;
    border-right: 1px solid rgb(239, 243, 250); 
    box-shadow: #5750d8 5px 5px;
}

.side-bar > a:nth-child(1) div {
    margin-top: 30px;
}

.side-bar > a div {
    font-size: 17px;
    text-align: center;
    padding: 5%;
    border-left: 4px solid white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: all 0.25s ease-in-out;
}

.side-bar > a div:hover {
    background-color: rgb(249, 251, 255);
    cursor: pointer;
}

.side-bar > a div.active {
    background-color: rgb(249, 251, 255);
    color: rgb(81, 77, 210);
    border-left: 4px solid rgb(86, 85, 208);
}

.side-bar > a > div > svg {
    fill: rgb(166, 172, 191);
}

.side-bar > a div.active svg {
    fill: rgb(81, 77, 210);
}

.content {
    overflow: auto;
    background-color: rgb(249, 251, 255);
    width: 100%;
    padding: 2%;
    overflow: scroll;
    box-shadow: #5750d8 5px 5px;
    position: relative;
}

.top-panel {
    display: flex;
    justify-content: space-between;  
}

#button {
    color: white;
    background-color: rgb(86, 85, 208);
    color: rgba(255, 255, 255, 0.93);
    padding: 1%;
    border-radius: 5px;
    border: none;
    min-width: 150px;
    min-height: 37px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    transition: all 0.25s ease-in-out;
}

#button:hover{
    cursor: pointer;
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(86, 85, 208, .4);
}

table {
    margin-top: 20px;
    width: 100%;
    border-spacing: 0 13px;
}

/* tbody > tr:first-child > td:first-child {
    border: 2px solid rgb(236, 241, 249);
    border-right-style: none;
    border-radius: 5px;
}

tbody > tr:first-child > td:last-child {
    border: 2px solid rgb(236, 241, 249);
    border-left-style: none;
    border-radius: 5px;
}

tbody > tr:first-child > td:not(:first-child):not(:last-child) {
    border: 2px solid rgb(236, 241, 249);
    border-left-style: none;
    border-right-style: none;
} */

.newTD {
    animation-name: animation;
    animation-duration: 3s;
}

.firstTD {
    border: 2px solid rgb(236, 241, 249);
    border-right-style: none;
    border-radius: 5px 0px 0px 5px;
}

.middleTD {
    border: 2px solid rgb(236, 241, 249);
    border-left-style: none;
    border-right-style: none;
}

.lastTD {
    border: 2px solid rgb(236, 241, 249);
    border-left-style: none;
    border-radius: 0px 5px 5px 0px;
}

@keyframes animation {
    0% {border-color: rgb(236, 241, 249);}
    50% {border-color: rgb(86, 85, 208);}
    100% {border-color: rgb(236, 241, 249);}
}

th {
    text-align: left;
    padding: 8px;
}

td {
    background-color: white;
    padding: 8px;
    height: 70px;
    font-weight: 250;
}

mark {
    background-color: rgb(246, 237, 207);
    padding: 3px 10px;
    color: rgb(178, 156, 135)
}

mark.paid {
    background-color: rgb(228, 248, 250);
    padding: 3px 10px;
    color: rgb(174, 154, 159);
}

#load-img{
    position: absolute;
    top: 50%;
    left: 50%;
}

.item-total-tbl{
    margin-top: -20px;
}

.item-total-tbl-name{
    margin-bottom: 5px;
    padding: 0px;
    width: 50%;
    height: 36px;
}
.item-total-tbl-quantity{
    margin-bottom: 5px;
    padding: 0px;
    height: 36px;
}

.item-total-tbl-amount{
    margin-bottom: 5px;
    padding: 0px;
    height: 36px;
    text-align: right;
}

.item-total-last-row{
    margin: 20px 0px;
}
#item-total-amount{
    float: right;
}

